@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --light-purple: #F2EBFF;
    --lillac: #E3CAED;
    --lavender: #D5ADFF;
    --wonders: #C68BEE;
    --flutter: #916DD5;
    --dark-purple: #7151A9;
    --nighttime: #33213B;
    --darkest-lillac: #110E16;
    --spacing-8: 8px;
    --spacing-16: 16px;
    --spacing-24: 24px;
    --spacing-32: 32px;
    --spacing-40: 40px;
    --spacing-66: 66px;
    --spacing-72: 72px;
    --spacing-80: 80px;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "KoHo", sans-serif;
}

body {
    background: linear-gradient(
    50deg,
    var(--dark-purple),
    var(--flutter),
    var(--darkest-lillac)
    );
    background-size: 300% 300%;
    animation: mymove 6s ease infinite;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

@keyframes mymove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
    color: var(--dark-purple);
}

h3 {
    color: var(--darkest-lillac);
    margin-top: var(--spacing-24);
}

strong {
    color: var(--flutter);
}

p {
    font-weight: 600;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-66);
    width: 100vw;
    top: 0;
    position: sticky;
    background-color: var(--light-purple);
    padding: var(--spacing-16);
}

nav > div.links {
    color: var(--dark-purple);
    font-weight: 900;
    font-size: var(--spacing-16);
}

div.links > a {
    text-decoration: none;
    color: var(--dark-purple);
    margin-left: var(--spacing-8);
}

main {
    height: 100%;
}

section#card {
    background-color: var(--light-purple);
    display: flex;
    overflow: hidden;
    border-radius: var(--spacing-16);
    width: 1100px;
    height: 40em;
    margin: var(--spacing-80);
}

section#card > img {
    width: 500px;
    opacity: 70%;
    object-fit: cover;
}

#login {
    padding: var(--spacing-80);
}

#login > form {
    padding: var(--spacing-24) 0;
    margin: var(--spacing-32) 0;
}

form > label {
    font-weight: 600;
    color: var(--darkest-lillac);
}

input#user, #pass {
    width: 500px;
    height: var(--spacing-32);
    margin: var(--spacing-16) 0;
    border: 0;
    border-radius: var(--spacing-8);
}

fieldset#enter {
    border: none;
    display: flex;
    justify-content: space-between;
}

input.buttons {
    border: none;
    background-color: var(--dark-purple);
    color: var(--light-purple);
    width: 230px;
    height: var(--spacing-40);
    border-radius: var(--spacing-8);
    display: flex;
    flex-flow: column nowrap;
    font-weight: 600;
    font-size: var(--spacing-16);
    margin-top: var(--spacing-32);
}

footer {
    background-color: var(--light-purple);
    display: flex;
    justify-content: center;
    gap: var(--spacing-66);
    align-items: center;
    padding: var(--spacing-16);
    bottom: 0;
    left: 0;
    width: 100%;
}

footer > img {
    width: 120px;
}
